<div class="row">
  <div class="col-12 col-md-6">
    <div class="card rounded-4 p-3 text-black dashboard-card">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <p class="fw-bold fs-5 mb-2">
            Welcome to <span class="main-color">Booking</span
            ><span class="com">.com</span> ,
            {{ userDetails?.firstName ?? "" }}
            {{ userDetails?.lastName ?? "" }}
          </p>
          <p class="fs-5 fw-medium m-0">Let's start managing your website!</p>
        </div>
        <button
          class="btn main-color-bg-hover text-white fw-medium fs-5 mt-4 w-100"
          routerLink="/add-property"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card rounded-4 p-3 mt-2 mt-md-0 h-100">
      <div
        class="d-flex justify-content-between align-items-center p-2 border-bottom"
      >
        <h5 class="card-title fs-5 fw-medium mb-0">Total Earnings</h5>
        <i class="bi bi-currency-dollar text-muted fs-5"></i>
      </div>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <p class="fs-4 fw-bold pt-2 text-success">${{ websiteFinancials }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card rounded-4 p-3 mt-2 mt-md-0 h-100">
      <div
        class="d-flex justify-content-between align-items-center p-2 border-bottom"
      >
        <h5 class="card-title fs-5 fw-medium mb-0">Total Bookings</h5>
        <i class="bi bi-calendar-check text-muted fs-5"></i>
      </div>
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <p class="fs-4 fw-bold pt-2 text-success">{{ bookingFinancials }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-2 mt-md-4">
    <div class="card rounded-4 p-4">
      <div class="card-body">
        <p class="fw-bold fs-5">Visitor Analytics</p>
        <div style="height: 250px">
          <canvas #deviceChart></canvas>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Device Type</th>
                <th>Number of Visitors</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of deviceStats">
                <td>
                  <i
                    class="bi bi-{{
                      stat._id === 'desktop' ? 'pc-display' : 'tablet'
                    }} text-primary me-2"
                  ></i>
                  {{ stat._id }}
                </td>
                <td>{{ stat.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-2 mt-md-4">
    <div class="card rounded-4 p-4">
      <div class="card-body">
        <p class="fw-bold fs-5">Earnings Distribution</p>
        <div style="height: 250px">
          <canvas #bookingCanvas></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
