<div class="sidebar border-end d-flex flex-column justify-content-between">
  <div class="d-flex flex-column align-items-start my-3">
    <p class="text-white fs-3 headline mb-1 d-none d-md-block">Booking.com</p>
    <p class="text-white fs-6 fw-light d-none d-md-block">The Admin Panel</p>
  </div>
  <div class="sidebar-content flex-grow-1">
    <p class="text-white fw-medium d-none d-md-block">HOME</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          <i class="bi bi-grid-1x2 me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Website Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="text-white fw-medium d-none d-md-block">MANAGE YOUR WEBSITE</p>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/approved-list"
          routerLinkActive="active"
        >
          <i class="bi bi-house me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Hosts List</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/apartment-list"
          routerLinkActive="active"
        >
          <i class="bi bi-building me-2 fs-5"></i>
          <span class="d-none d-md-inline">Apartment list</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/users-list-control"
          routerLinkActive="active"
        >
          <i class="bi bi-person me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Users List Control</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
          routerLink="/funds-list"
          routerLinkActive="active"
        >
          <i class="bi bi-cash-coin me-md-2 fs-5"></i>
          <span class="d-none d-md-inline">Funds List</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="text-white mb-5 fw-medium">
    <a
      class="nav-link text-white rounded-start-5 ps-md-4 mb-2 text-center text-md-start"
      routerLink="/login"
      (click)="logout()"
    >
      <i class="bi bi-box-arrow-right me-md-2 fs-5"></i>
      <span class="d-none d-md-inline">Logout</span>
    </a>
  </div>
</div>
