/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

html,
body {
  height: 100%;
  background-color: #f4f7fb;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
.main-color {
  color: #003b95;
}
.main-color-bg {
  background-color: #003b95;
}
.main-color-bg-hover {
  background-color: #003b95;
}
.main-color-bg-hover:hover {
  background-color: #026de2;
}
